.advantages {
  padding-bottom: 0px;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  width: 270px;
}
.advantages__item + .advantages__item {
  margin-left: 30px;
}
.advantages__visuall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
/* .advantages-list :not(:last-child) {
  margin-right: 30px;
} */
.advantages__heder {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}