.logo__Web {
  color: var(--accent-color);
  font-family: var(--secondary-fond);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo {
  align-items: center;
  display: flex;
  color: #000000;
  margin-right: 93px;
}
.logo__Studio {
  font-family: var(--secondary-fond);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: #000000;
}
